*.cpuprofile
*.local
*.log
*.tgz

.DS_Store
.eslintcache
.idea
etc
dist
lib
node_modules
.sanity
packages/@sanity/pkg-utils/test/env/__tmp__

# css-playground build/test artifacts
.tap
.next
next-env.d.ts
routeTree.gen.ts
screenshots
.nuxt
.output
.astro
.vite
.parcel-cache
.react-router
.tanstack
.vinxi
build
