/dist

/playground/*/.next
/playground/*/dist
/playground/*/lib

/packages/@sanity/pkg-utils/test/env/__tmp__
/packages/@sanity/tsdown-config/test/fixtures/**/dist

/pnpm-lock.yaml
/CHANGELOG.md
/.changeset/*.md
