{
  "bracketSpacing": false,
  "plugins": ["prettier-plugin-packagejson"],
  "printWidth": 100,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.json5"],
      "options": {
        "quoteProps": "preserve",
        "singleQuote": false
      }
    },
    {
      "files": ["*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
