name: CI & Release

on:
  push:
    branches:
      - alpha
      - beta
      - next
      - main
  pull_request:
    branches:
      - alpha
      - beta
      - next
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lint & Build
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          cache: pnpm
          node-version: lts/*
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build
      - uses: actions/upload-artifact@v3
        name: Cache build output
        with:
          name: build-output
          path: dist/

  test:
    needs: build
    runs-on: ${{ matrix.platform }}
    name: Node.js ${{ matrix.node-version }} / ${{ matrix.platform }}
    strategy:
      # A test failing on windows doesn't mean it'll fail on macos. It's useful to let all tests run to its completion to get the full picture
      fail-fast: false
      matrix:
        # Run the testing suite on each major OS with the latest LTS release of Node.js
        # @TODO add windows when it works
        # platform: [macos-latest, ubuntu-latest, window-latest]
        platform: [macos-latest, ubuntu-latest]
        node-version: [lts/*]
        # It makes sense to also test the oldest, and latest, versions of Node.js, on ubuntu-only since it's the fastest CI runner
        include:
          - platform: ubuntu-latest
            # Test the oldest LTS release of Node that's still receiving bugfixes and security patches, versions older than that have reached End-of-Life
            node-version: lts/-2
          - platform: ubuntu-latest
            # Test the actively developed version that will become the latest LTS release next October
            node-version: current
    steps:
      - name: Set git to use LF
        if: matrix.platform == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          cache: pnpm
          node-version: ${{ matrix.node-version }}
      - run: pnpm install
      - uses: actions/download-artifact@v3
        name: Restore build output
        with:
          name: build-output
      - run: pnpm test

  release:
    name: "Semantic release"
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          # Need to fetch entire commit history to
          # analyze every commit since last release
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          cache: pnpm
          node-version: lts/*
      - run: pnpm install
      # Branches that will release new versions are defined in .releaserc.json
      - run: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
