name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read # for checkout

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lint & Build
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: pnpm install
      - run: pnpm lint --deny-warnings --format github
      - run: pnpm build
      - run: pnpm typecheck
      - uses: actions/upload-artifact@v5
        name: Cache build output
        with:
          name: build-output
          path: packages/@sanity/pkg-utils/dist

  playground:
    needs: build
    runs-on: ubuntu-latest
    name: Playground builds
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: pnpm install
      - uses: actions/download-artifact@v6
        name: Restore build output
        with:
          name: build-output
          path: packages/@sanity/pkg-utils/dist
      - run: pnpm playground:typecheck
      - run: pnpm playground:build
        env:
          NODE_OPTIONS: --max_old_space_size=8192
      - name: Archive build outputs of runtime tests
        uses: actions/upload-artifact@v5
        with:
          name: runtime-dist
          path: |
            playground/runtime-*/dist
            playground/runtime-*/.next
            !playground/runtime-*/.next/cache

  test:
    needs: build
    runs-on: ${{ matrix.platform }}
    name: Node.js ${{ matrix.node-version }} / ${{ matrix.platform }}
    strategy:
      # A test failing on windows doesn't mean it'll fail on macos. It's useful to let all tests run to its completion to get the full picture
      fail-fast: false
      matrix:
        # Run the testing suite on each major OS with the latest LTS release of Node.js
        platform: [macos-latest, ubuntu-latest, windows-latest]
        node-version: [lts/*]
        # It makes sense to also test latest version of Node.js, on ubuntu-only since it's the fastest CI runner
        # @TODO re-enable after the nightly is stable
        # include:
        #  - platform: ubuntu-latest
        # Test the actively developed version that will become the latest LTS release next October
        #    node-version: current
    steps:
      - name: Set git to use LF
        if: matrix.platform == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: pnpm install
      - uses: actions/download-artifact@v6
        name: Restore build output
        with:
          name: build-output
          path: packages/@sanity/pkg-utils/dist
      - run: pnpm test
